################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Coldrun.API/Coldrun.API/bin/Debug/net6.0
/Coldrun.API/Coldrun.API/obj
/Coldrun.API/.vs/Coldrun.API
/Coldrun.API/.vs/ProjectEvaluation
/Coldrun.API/Coldrun.Database/bin/Debug/net6.0
/Coldrun.API/Coldrun.Database/obj
/Coldrun.API/Coldrun.Commands/bin/Debug/net6.0
/Coldrun.API/Coldrun.Commands/obj
/Coldrun.API/Coldrun.Queries/bin/Debug/net6.0
/Coldrun.API/Coldrun.Queries/obj
/Coldrun.API/Coldrun.UnitTests/bin/Debug/net6.0
/Coldrun.API/Coldrun.UnitTests/obj
